name: Run Symfony Tests

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, intl, pdo_mysql
          coverage: none

      - name: Install Composer dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Create test database
        run: |
          cp .env.test .env
          bin/console doctrine:database:create --env=test --no-interaction || true
          bin/console doctrine:schema:create --env=test --no-interaction

      - name: Run PHPUnit tests
        run: |
          ./vendor/bin/phpunit --testdox
